# APP_SECRET_KEY=clavesupercool
APP_VERSION=1.0.0
PORT=<port of docker-compose deploy. Example 5000>
AWS_ACCESS_KEY=<AWS access key to connect with aws cli>
AWS_SECRET_KEY=<AWS secret key to connect with aws cli>
TUCOWS_RESELLER_USERNAME=<Tucows username>
TUCOWS_API_KEY=<Tucows API key>
TUCOWS_API_HOST_PORT=<Tucows host of the API dev: https://horizon.opensrs.net:55443 prod: >
MASTER_CLIENT_USER=<default username of the company to access to tucows account>
MASTER_CLIENT_PASS=<default password of the company to access to tucows account>
MASTER_CLIENT_DEFAULT_PERIOD=<default period of buy a plan 1 = 1 año, 2 = 2 años, 3 = 3 años>
MASTER_CLOUDFRONT_ID=<cloudfront id. Ejm: url of the host elb>
MASTER_CLOUDFRONT_DOMAINNAME=<cloudfront domainname. Ejm: url of the host elb>
MASTER_CLOUDFRONT_TARGETORIGINID=<cloudfront target. Ejm: url of the host elb>
PANEL_API_URL=<url of host to inform the status of the domain registration>
DB_HOST=<database connection host>
DB_PORT=<database connection port >
DB_DATABASE=<database connection name>
DB_USERNAME=<database connection username>
DB_PASSWORD=<database connection password>

